h2, h6 {
  margin: 10px 20px;
}
form {
  width: 500px;
  margin: 10px 20px;
}
input {
  width: 400px;
}
.table-div {
  width: 450px;
  margin: 20px;
}
td {
  width: 50px;
  text-align: center;
}
.error-div {
  margin: 20px;
}
